* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #111;
}

.conteudo {
    text-align: center;
    color: darkgray;
}

.conteudo h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 170px;
}

.conteudo h2 {
    margin-top: 10px;
    font-family: 'Courier New', Courier, monospace;
}

.conteudo button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 11px;
    background-color: #666;
    border: 5px solid darkgrey;
    border-radius: 20px;
    transition: 0.5s;
}

.conteudo button:hover {
    border-color: #e1e1e1;
    background-color: #797979;
    transition: 0.5s;
    cursor: pointer;
}

.flash {
    animation: piscar 1s;
}

@keyframes piscar {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

